# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
backend/venv312/
venv/

# Database
backend/obd_data.db

# OS
.DS_Store

# Frontend
frontend/node_modules/
frontend/dist/

# Large binaries (ML models)

# Data
updated_with_timestamp.csv

# Environment variables
.env
backend/.env
